<div class="row gx-5 align-items-center">
    <div class="p-5 align-items-center">

    <b><h2 class="fw-bold display-4 align-content-center" style="text-align: center !important;">Curate your vibe.... Get a playlist</h2></b>
    <!-- <p style="text-align: center !important;">Upload up to 5 images and generate a playlist!</p> -->
    </div>
</div>
<div class="container px-5">
    <div class="row gx-5 align-items-center" >
        <div class="p-5 align-items-center">
            <div class="row"fxLayout="row wrap" fxLayoutGap="16px grid ">
            <div class="container" display="flex" style="justify-content: center;">
                <div *ngFor="let image of images">
                    <mat-card class="card" (click)="onSelectCard(image.keywords, image.id)" [ngClass]="{'card-selected mat-elevation-z4': image.selected} ">
                        <img src={{image.url}} class="card-img-top" alt="..." style="width:300px;height:300px;">
                        <!-- <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div> -->
                    </mat-card>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    <div class="row gx-5 align-items-center">
    
            <button id="loading-button" class="btn btn-primary btn-xl rounded-pill mt-5" (click)="onButtonClick()">Let's Go!</button>

            <div *ngIf="this.loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>

            </div>
        <!-- <p style="text-align: center !important;">Upload up to 5 images and generate a playlist!</p> -->
    </div>
    <div class="row gx-5 align-items-center">
        <div class="p-5 align-items-center">

        <p id="output"></p>
        </div>

        <button class="btn btn-secondary btn-xl rounded-pill mt-5" (click)="onReset()" style="margin-bottom: 20px; margin-top: 0px !important">Reset Images</button>

    </div>

