.card {
    align-items: center;
    padding: 10px 10px;

   
   
   }
   @supports (display: grid) {
   .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 300px 300px 300px 300px;
   }
   
   
   }

   .card-selected {
    border: 2px solid #283593;
    padding: 8px 8px;

  }
  
  .selection {
    opacity: 0;
    cursor: pointer;
    color: #283593;
    background: #fff;
    position: absolute;
    right:-10px;
    top:-10px;
    border-radius: 100%;
    height: 24px;
    width: 24px;
  }


   